
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

.font{
    font-family: 'Lexend', sans-serif;
    
}
.fon{
    font-family: 'Arima', cursive;
}
.bold{
    font-family: 'Arima', cursive; 

}
.lap-img2{
    width: 990px;
    height: 450px;
    
}
.heading{
    position: absolute;
    width: 80px;
    height: 39px;
    left: 680px;
    top: 770px;
    color: #170A00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
  }
  .arrow{
    box-sizing: border-box;
    position: absolute;
    width: 38px;
    height: 30px;
    left: 700px;
    top: 813px;
    animation: bounce 0.8s infinite alternate;
  }


  Feil, |MIDKTY PCS PHOTOGRAPHY

  Wedding Packages
  
   
  
  0724 571569 HEAD OFFICE @MWATATE TOWN-AROUND MAIN STAGE
  
  BOG GEKcoM mm © COMPACT PLUS
  -1 Videographer -2 Videographers
  -1 Photographer By =) ale) cole] ¢-) 9) al —e9
  -Free E-card a -Wedding ceremony &
  
  ti
  -Wedding ceremony & stad east ected
  reception coverage -Flash drive with full
  -Flash drive with full pe Ou
  edited Video & Photos -3 pcs 16x24 Inches (A3)
  Photo M i
  
  “1 pc 16x24 Inches (A3) Serie
  Photo Mount I 7M =d ale) Coll = Lele) @-10) oreo]
  
  -Photo Album (100pcs)
  
   
  
  Ksh. 25,000 Ksh. 50,000 Ksh. 80,000
  
  ADD ONS:Live streaming services at a cost of Ksh.10,000 | Transport is incurred by the client
  
  _—
  
           
  
